<section>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 col-md-6">
        <div class="imprint">
          <h1 class="navbar-brand" routerLink="/">Mazi<span>n</span></h1>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="copyright text-center">
          <span class="fs-5 fw-bolder">&#169; Mazin Fouad 2023</span>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="links text-lg-end text-md-center text-sm-center">
          <a href="#"
            ><img src="assets/imgs/landing-page-imgs/github.png" alt="Github"
          /></a>
          <a href="#"
            ><img src="assets/imgs/landing-page-imgs/email.png" alt="E-Mail"
          /></a>
          <a href="#"
            ><img
              src="assets/imgs/landing-page-imgs/linked-in.png"
              alt="LinkedIn"
          /></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-1">
        <div class="imprint fs-5 fw-bolder">
          <a routerLink="/imprint">Impressum</a>
        </div>
      </div>
    </div>
  </div>
</section>
