<section class="about-me" id="about-me">
  <img class="blue-spot" src="assets/imgs/about-me-imgs/blue-spot.png" />
  <div class="container d-flex justify-content-between">
    <div
      class="text-container"
      id="container"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <h1>About Me</h1>
      <div class="text-field">
        <p>
          I am a web developer who is fluent in German and based in
          Bruchsal-Baden-Württemberg. I possess expertise in building web
          applications using JavaScript and Angular. I invite you to explore my
          public portfolio, which features responsive websites, business
          applications, and games.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/puzzle.png" />
        <p>
          I started my journey with web development through small projects and
          soon discovered my passion for this field. I decided to join the
          "Developer Akademie" to learn programming, where I was able to get a
          professional roadmap that provides studied projects to acquire the
          necessary skills in the programming world.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/lamp.png" />
        <p>
          I have acquired the ability to create visually appealing and
          user-friendly apps, including landing pages and business apps. I am
          enthusiastic about utilizing my skills to assist in the success of
          various businesses.
        </p>
      </div>
    </div>

    <div class="img-container">
      <img src="assets/imgs/about-me-imgs/pic.png" class="about-me-pic" />
    </div>
  </div>
</section>
