<section class="about-me" id="about-me">
  <img class="blue-spot" src="assets/imgs/about-me-imgs/blue-spot.png" />
  <div class="container d-flex justify-content-between">
    <div
      class="text-container"
      id="container"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <h1>About Me</h1>
      <div class="text-field">
        <p>
          I am a web developer fluent in German and based in
          Bruchsal-Baden-Württemberg. I have experience building web
          applications using JavaScript and Angular. I invite you to explore my
          public works, which include responsive websites, business
          applications and games.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/puzzle.png" />
        <p>
          I am passionate and enthusiastic about the web developer field I
          started my journey through small projects and I was always trying to
          learn and enter the field, so I decided to join the
          "Developer-Akademie" in Munich to learn programming, where I was able
          to obtain a professional roadmap that provides well-studied projects
          to acquire the necessary skills in the world of programming.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/lamp.png" />
        <p>
          I have acquired the ability to create visually appealing and
          user-friendly apps, including landing pages and business apps. I am
          excited about utilizing my skills to assist in the success of various
          businesses.
        </p>
      </div>
    </div>

    <div class="img-container">
      <img
        src="assets/imgs/about-me-imgs/skills-por.png"
        class="about-me-pic"
      />
    </div>
  </div>
</section>
