<section class="about-me" id="about-me">
  <img class="blue-spot" src="assets/imgs/about-me-imgs/blue-spot.png" />
  <div class="container d-flex justify-content-between">
    <div
      class="text-container"
      id="container"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <h1>About Me</h1>
      <div class="text-field">
        <p>
          I am a web developer located in Bruchsal Baden-Württemberg and fluent
          in the German language. My expertise lies in developing web
          applications with the use of JavaScript and Angular. Feel free to
          browse through my portfolio of public projects, which showcases a
          range of responsive websites, business applications, and games.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/puzzle.png" />
        <p>
          I've always been fascinated by the various ways code can be used to
          create unique and purposeful things. Software development combines my
          strengths and interests in this field. I joined the "Developer
          Akademie" in Munich to learn programming and acquire the necessary
          skills in web development. The academy provided a professional roadmap
          with well-studied projects to acquire the necessary skills in the
          world of Programming.
        </p>
      </div>

      <div class="text-field">
        <img src="assets/imgs/about-me-imgs/lamp.png" />
        <p>
          I have developed the proficiency to produce visually captivating and
          user-friendly applications, encompassing landing pages and commercial
          apps. I am excited to apply my skills to use and help businesses
          succeed.
        </p>
      </div>
    </div>

    <div class="img-container">
      <img
        src="assets/imgs/about-me-imgs/skills-por.png"
        class="about-me-pic"
      />
    </div>
  </div>
</section>
