$navbar-bg: #141d2f;
$navbar-fontColor: #ffff;
$navbar-hoverLinks: #00bee8;
$boder-bottomColor: #9747ff;

nav {
    background-color: $navbar-bg;
    width: 100%;

    @media (max-width: 992px) {
        a {
            width: 90px !important;
        }
    }

    a {
        color: $navbar-fontColor;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 23px;
        margin-left: 30px;
        white-space: nowrap;

        &:hover {
            color: $navbar-hoverLinks;
        }

        &:focus,
        &:active {
            border-bottom: $boder-bottomColor 2px solid;
            color: $navbar-hoverLinks;
        }
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .navbar-brand {
        font-size: 2.5rem;
        margin-top: 20px;
        color: $navbar-fontColor;
        cursor: pointer;
        font-weight: bolder;

        span {
            color: #00bee8;
            font-weight: bolder;
        }
    }
}
