<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <h1 class="navbar-brand" routerLink="/">Maz<span>in</span></h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="assets/imgs/navbar-imgs/burger-icon.png" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mt-4">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#about-me"
            [ngClass]="{ active: activeTab === 'about' }"
            (click)="setActiveTab('about')"
            >About Me</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#my-skills"
            [ngClass]="{ active: activeTab === 'skills' }"
            (click)="setActiveTab('skills')"
            >Skills</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#my-portfolio"
            [ngClass]="{ active: activeTab === 'portfolio' }"
            (click)="setActiveTab('portfolio')"
            >Portfolio</a
          >
        </li>

        <li class="nav-item d-md-none">
          <a
            class="nav-link"
            href="#contact-me"
            [ngClass]="{ active: activeTab === 'contact' }"
            (click)="setActiveTab('contact')"
            >Contact Me</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
