<section class="my-portfolio" id="my-portfolio">
  <div class="container">
    <h1 class="text-center">Portfolio</h1>
    <p class="text-center">
      This page is a sample of my Work - please feel free to try them out.
    </p>
  </div>
  <img
    class="blue-effect"
    src="assets/imgs/portfolio-section-imgs/d.blue2.png"
    alt=""
  />
  <app-project-box
    id="project"
    [ngClass]="{ visible: isVisible }"
    *ngFor="let item of myProjects; let i = index"
    [project]="item"
    [loopIndex]="i"
  ></app-project-box>
</section>
