.my-portfolio {
    background-color: #141d2f;
    padding-top: 200px;
    padding-bottom: 100px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.container {
    h1 {
        font-size: 6rem;
        font-family: "Poppins-bold";
        white-space: nowrap;
        font-weight: bold;
        position: relative;

        @media (min-width: 270px) and (max-width: 479px) {
            font-size: 3rem;
        }

        &::before {
            content: "";
            position: absolute;
            width: 10%;
            height: 5px;
            background-color: #4b47ff;
            left: 25%;
            transform: translateX(-50%);
            top: 50%;

            @media (min-width: 270px) and (max-width: 479px) {
                display: none;
            }

            @media (min-width: 479px) and (max-width: 991px) {
                display: none;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 55%;
            height: 5px;
            background-color: #4b47ff;
            right: -25%;
            margin: auto;
            top: 50%;

            @media (min-width: 270px) and (max-width: 479px) {
                width: 33%;
            }

            @media (min-width: 479px) and (max-width: 991px) {
                width: 30%;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                display: none;
            }
        }
    }

    p {
        font-weight: 600;
    }
}

.blue-effect {
    position: absolute;
    bottom: 45%;
    height: 500px;

    @media (min-width: 270px) and (max-width: 991px) {
        display: none;
    }
}

.visible {
    animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes roll-in-blurred-left {
    0% {
        transform: translateX(-1000px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}
