<section>
  <div class="container">
    <div class="project-box" [ngClass]="{ odd: loopIndex % 2 == 0 }">
      <img
        data-aos="flip-up"
        data-aos-duration="2000"
        src="{{ project.img }}"
      />

      <div class="project-text d-flex flex-column position-relative">
        <h1 class="mb-2">{{ project.title }}</h1>
        <img
          class="new-icon position-absolute"
          src="assets/imgs/project-box-imgs/new.png"
          *ngIf="project.title === 'Pokédex'"
        />
        <h2 class="mb-2">{{ project.code }}</h2>
        <span class="mb-2">{{ project.description }}</span>

        <div class="projcet-links">
          <a target="_blank" class="live-test" href="{{ project.link }}"
            >Live Demo</a
          >
          <a target="_blank" class="github" href="{{ project.gitHub }}"
            >GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
