.project-box {
    display: flex;
    justify-content: space-between;
    gap: 15%;
    align-items: center;

    img {
        width: 400px;
        z-index: 1;
    }

    h1 {
        font-family: "Poppins-bold";
        color: #4b47ff;
    }

    h2 {
        color: #00bee8;
    }

    span {
        font-weight: 600;
    }
}

.odd {
    flex-direction: row-reverse;
}

@media (min-width: 270px) and (max-width: 991px) {
    .project-box {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

.projcet-links {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15%;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
}

.projcet-links .live-test {
    background-color: #4b47ff;
    padding: 15px 30px;
    border-radius: 10px;

    &:hover {
        background-color: #00bee8;
        transition: all ease-in-out 225ms;
    }

    @media (min-width: 270px) and (max-width: 479px) {
        padding: 10px 20px;
        white-space: nowrap;
    }
}

.projcet-links .github {
    border: #00bee8 1px solid;
    padding: 15px 30px;
    border-radius: 10px;

    &:hover {
        background-color: #00bee8;
        transition: all ease-in-out 225ms;
    }

    @media (min-width: 270px) and (max-width: 479px) {
        padding: 10px 20px;
    }
}

.new-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
    transform: rotate(20deg);
    left: -0.2em;
}

@media (min-width: 320px) and (max-width: 990px) {
    .new-icon {
        left: -3%;
    }
}
