.my-skills {
    background-color: #141d2f;
    padding: 50px 0;
    color: #fff;
    overflow: hidden;
}

.my-skills-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    min-height: 200px;

    img {
        &:hover {
            animation: shake 1s ease-in-out;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 130px;
        margin-bottom: 25px;
        font-weight: 600;
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.my-skills-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 6rem;
        font-family: "Poppins-bold";
        white-space: nowrap;
        font-weight: bold;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 350px;
            height: 5px;
            right: -515px;
            top: 50%;
            background-color: #4b47ff;
        }
    }

    p {
        font-weight: 600;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        background-color: #00bee8;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
            transition: all 225ms ease-in-out;
            transform: scale(1.1);
            background-color: #4b47ff;
        }
    }
}

.icon-box {
    img {
        margin-bottom: 10px;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(0, -5px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media (min-width: 270px) and (max-width: 991px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;

        h1 {
            font-size: 3rem;
        }

        p {
            text-align: center;
        }
    }

    .my-skills-container {
        max-width: unset;
        display: flex;
        justify-content: space-between;

        div {
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }
    }
}
