<div class="my-skills" id="my-skills">
  <img
    class="blue-spot"
    src="assets/imgs/my-skills-imgs/L. blue 1.png"
    alt=""
  />
  <div class="container">
    <div class="my-skills-container">
      <div class="icon-box" *ngFor="let skill of mySkills">
        <img
          (mouseover)="playSound()"
          src="assets/imgs/my-skills-imgs/{{ skill.img }}"
        />
        <span>{{ skill.title }}</span>
      </div>

      <a href="#" class="second-btn">Get in touch</a>
    </div>
    <div class="my-skills-text">
      <h1>My Skills</h1>
      <p>
        Through dedicated practice and hands-on experience, I have enhanced my
        proficiency in frontend development, which has empowered me to
        successfully execute diverse projects.
      </p>
      <a href="#" class="first-btn">Get in touch</a>
    </div>
  </div>
</div>
