.my-skills {
    background-color: #141d2f;
    padding-top: 100px;
    padding-top: 100px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.my-skills-container {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
    flex-wrap: wrap;
    max-width: 80%;
    min-height: 200px;
    position: relative;

    img {
        &:hover {
            animation: shake 1s ease-in-out;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        margin-bottom: 25px;
        font-weight: 600;
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.my-skills-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 6rem;
        font-family: "Poppins-bold";
        white-space: nowrap;
        font-weight: bold;
        position: relative;

        @media (min-width: 270px) and (max-width: 479px) {
            font-size: 2rem;
            margin-left: auto;
            margin-right: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 300px;
            height: 5px;
            right: -100%;
            top: 50%;
            background-color: #4b47ff;

            @media (min-width: 270px) and (max-width: 479px) {
                width: 100%;
            }

            @media (min-width: 480px) and (max-width: 991px) {
                width: 400px !important;
            }
        }
    }

    p {
        font-weight: 600;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        background-color: #00bee8;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
            transition: all 225ms ease-in-out;
            transform: scale(1.1);
            background-color: #4b47ff;
        }
    }
}

.icon-box {
    img {
        margin-bottom: 10px;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(0, -5px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media (min-width: 270px) and (max-width: 991px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .my-skills-container {
        max-width: unset;
        display: flex;
        justify-content: space-between;

        div {
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }
    }

    .first-btn {
        display: none;
    }

    .second-btn {
        display: "";
    }
}

.second-btn {
    text-decoration: none;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 15px 30px;
    background-color: #00bee8;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;

    &:hover {
        transition: all 225ms ease-in-out;
        transform: scale(1.1) translateX(-50%);
        background-color: #4b47ff;
    }
}

@media (min-width: 992px) {
    .second-btn {
        display: none;
    }
}

.blue-spot {
    width: 300px;
    height: 580px;
    position: absolute;
    left: 0;
    top: -18px;

    @media (min-width: 270px) and (max-width: 479px) {
        display: none;
    }

    @media (min-width: 480px) and (max-width: 992px) {
        display: none;
    }
}
