<div class="my-skills">
  <div class="container">
    <div class="my-skills-container">
      <div class="icon-box" *ngFor="let skill of mySkills">
        <img src="assets/imgs/my-skills-imgs/{{ skill.img }}" />
        <span>{{ skill.title }}</span>
      </div>
    </div>

    <div class="my-skills-text">
      <h1>My Skills</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        distinctio, id, odit accusantium unde deserunt ipsam.
      </p>
    </div>
  </div>
</div>
