<form action="" data-aos="fade-down" data-aos-duration="2000">
  <div>
    <div class="mb-3">
      <input
        type="name"
        class="form-control mb-4"
        id="exampleFormControlInput1"
        placeholder="Your Name"
      />
      <input
        type="email"
        class="form-control mb-4"
        id="exampleFormControlInput1"
        placeholder="Your Email"
      />
    </div>
    <div class="mb-4">
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="10"
        placeholder="Your Message"
      ></textarea>
    </div>
    <div class="btn-container">
      <button class="btn-contact">Send message ;)</button>
    </div>
  </div>
</form>
