input,
textarea {
    color: #fff !important;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border: 1px solid #4b47ff;

    &:focus {
        box-shadow: unset;
        background-color: transparent;
        border: 1px solid #00bee8;
    }

    &::placeholder {
        color: #fff;
    }
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        all: unset;
        cursor: pointer;
        padding: 15px 30px;
        background-color: #00bee8;
        border-radius: 10px;
        transition: all 225ms ease-in-out;
        font-weight: 600;
        z-index: 9999;

        &:hover {
            transform: scale(1.1);
            transition: all 225ms ease-in-out;
            background-color: #4b47ff;
        }
    }
}

.alert {
    font-weight: bolder;
    font-family: "Poppins-bold";
    display: flex;
    flex-direction: column;
    animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
