<form (submit)="sendMail()" ngNativeValidate #contactForm>
  <div *ngIf="!success">
    <div class="mb-3">
      <input
        type="name"
        name="name"
        class="form-control mb-4"
        placeholder="Your Name"
        required
        #nameField
      />
      <input
        type="email"
        name="email"
        class="form-control mb-4"
        placeholder="Your Email"
        required
        #mailField
      />
    </div>
    <div class="mb-4">
      <textarea
        class="form-control"
        rows="10"
        name="message"
        placeholder="Your Message"
        required
        #messageField
      ></textarea>
    </div>
    <div class="btn-container">
      <button #sendButton class="btn-contact">Send message ;)</button>
    </div>
  </div>
  <div *ngIf="success" class="alert alert-success mt-3">
    <span> Message sent successfully!</span>
    <span>I will contact you as soon as possible.</span>
  </div>
</form>
