<form (ngSubmit)="sendMail()" #contactForm="ngForm" ngNativeValidate>
  <div *ngIf="!success">
    <div class="mb-3">
      <div class="mb-4">
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Your Name"
          required
          [(ngModel)]="formData.name"
          #nameField="ngModel"
        />
        <!-- Display error message if the name field is touched but not filled -->
        <span
          *ngIf="nameField.touched && nameField.invalid"
          class="error-message"
        >
          Name is required
        </span>
      </div>
      <div class="mb-4">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Your Email"
          required
          [(ngModel)]="formData.email"
          #mailField="ngModel"
        />
        <!-- Display error message if the email field is touched but not filled -->
        <div
          *ngIf="mailField.touched && mailField.invalid"
          class="error-message"
        >
          Email is required
        </div>
      </div>
    </div>
    <div class="mb-4">
      <textarea
        class="form-control"
        rows="10"
        name="message"
        placeholder="Your Message"
        required
        [(ngModel)]="formData.message"
        #messageField="ngModel"
      ></textarea>
      <!-- Display error message if the message field is touched but not filled -->
      <div
        *ngIf="messageField.touched && messageField.invalid"
        class="error-message"
      >
        Message is required
      </div>
    </div>
    <div class="btn-container">
      <!-- Disable the send button if the form is invalid -->
      <button [disabled]="contactForm.invalid" class="btn-contact">
        Send message ;)
      </button>
    </div>
  </div>
  <div *ngIf="success" class="alert alert-success mt-3">
    <h3>Message has been successfully sent!</h3>
    <span>I will contact with you as soon as possible.</span>
  </div>
</form>
