<section class="position-relative" id="landing">
  <div class="container-fluid d-flex justify-content-between">
    <div class="imgs-container">
      <img
        src="assets/imgs/landing-page-imgs/portait-bg.png"
        class="colorshader"
      />
      <img src="assets/imgs/landing-page-imgs/my-portrait2.png" class="hero" />
      <img src="assets/imgs/landing-page-imgs/wave.png" class="cut" />
    </div>

    <div class="main-text">
      <div class="rotate-text-container">
        <span>I am</span>
      </div>
      <div>
        <h1>Mazin Fouad</h1>
        <h3>Frontend Developer</h3>
      </div>

      <div class="btn-container">
        <a class="btn" href="#contact-me">Let's Talk</a>
      </div>
    </div>

    <div class="links position-absolute">
      <div class="icons-container">
        <a target="_blank" href="https://github.com/Mazin-Fouad"
          ><img src="assets/imgs/landing-page-imgs/github.png"
        /></a>
        <a target="_blank" href="mailto:info@mazinfouad.com"
          ><img src="assets/imgs/landing-page-imgs/email.png"
        /></a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mazin-fouad-332b36266/"
          ><img src="assets/imgs/landing-page-imgs/linked-in.png"
        /></a>
        <a target="_blank" href="mailto:info@mazinfouad.com" class="e-mail"
          ><span>info@mazinfouad.com</span></a
        >
      </div>

      <div class="scroll-container">
        <span
          >Scroll Down
          <img
            src="assets/imgs/landing-page-imgs/scroll-down-icon.png"
            class="scroll-icon"
            (click)="scrollToBottom()"
        /></span>
      </div>
    </div>
  </div>
</section>

<app-about-me> </app-about-me>
<app-my-skills></app-my-skills>
<app-my-portfolio></app-my-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>
