<section class="position-relative">
  <div class="container-fluid d-flex justify-content-between">
    <div class="imgs-container">
      <img
        src="assets/imgs/landing-page-imgs/portait-bg.png"
        class="colorshader"
      />
      <img src="assets/imgs/landing-page-imgs/test.png" class="hero" />
      <img src="assets/imgs/landing-page-imgs/wave.png" class="cut" />
    </div>

    <div class="main-text">
      <div class="rotate-text-container">
        <span>I am</span>
      </div>
      <div>
        <h1>Mazin Fouad</h1>
        <h3>Frontend Developer</h3>
      </div>

      <div class="btn-container">
        <a class="btn" href="#">Let's Talk</a>
      </div>
    </div>

    <div class="links position-absolute">
      <div class="icons-container">
        <a href="https://github.com/Mazin-Fouad"
          ><img src="assets/imgs/landing-page-imgs/github.png"
        /></a>
        <a href="mailto:m.fouad@live.de"
          ><img src="assets/imgs/landing-page-imgs/email.png"
        /></a>
        <a href="#"
          ><img src="assets/imgs/landing-page-imgs/linked-in.png"
        /></a>
        <a href="#"><span>m.fouad@live.de</span></a>
      </div>

      <div class="scroll-container">
        <span
          >Scroll Down
          <img
            src="assets/imgs/landing-page-imgs/scroll-down-icon.png"
            class="scroll-icon"
        /></span>
      </div>
    </div>
  </div>
</section>

<app-about-me> </app-about-me>
