<section>
  <div class="container-fluid d-flex justify-content-between">
    <div class="imgs-container">
      <img
        src="assets/imgs/landing-page-imgs/portait-bg.png"
        class="colorshader"
      />
      <img src="assets/imgs/landing-page-imgs/test.png" class="hero" />
      <img src="assets/imgs/landing-page-imgs/wave.png" class="cut" />
    </div>

    <div class="main-text">
      <div class="rotate-text-container">
        <span>I am</span>
      </div>
      <div>
        <h1>Mazin Fouad</h1>
        <h3>Frontend Developer</h3>
      </div>

      <div class="btn-container">
        <a class="btn" href="#">Let's Talk</a>
      </div>
    </div>
  </div>
</section>
