* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins-bold";
    src: url("assets/fonts/Poppins-Bold.ttf") format("woff2");
}

body {
    font-family: "Poppins" !important;
    scroll-behavior: smooth;
}
